body {
  background: #e7e7e7;
  background: url('/images/bg.png');
  font-family: helvetica, sans-serif;
  margin: 0px;
}

.actionbar {
  height: 30px;
  border-bottom: 1px dashed #333;
  margin-bottom: 10px;
  background: #ffffff;
  padding: 10px;
}

.logo {
  float: left;
  margin-right: 20px;
  border-right: 1px solid #e7e7e7;
}

.column {
  width: 33%;
  height: 95%;
  float: left;
  border-right: 1px solid #333;
}

/* Disable the right border for the closed column */
.closedcolumn {
  border-right: 0px;
}

.column .header {
  text-align: center;
  font-weight: bold;
  background: #333;
  margin-left: 5px;
  margin-right: 5px;
  color: #e7e7e7;
}

.issuecolumn {
  height: 80%;
}

.issuetile {
  margin: 10px;
  font-weight: bold;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  -webkit-box-shadow: 0px 2px 1px 1px #888;
  -moz-box-shadow: 0px 2px 1px 1px #888;
  box-shadow: 0px 2px 1px 1px #888;
}

.issuetile .title {
  font-size: 0.8em;
  padding: 5px;
}

.issuetile .number {
  font-size: 0.7em;
  padding: 4px;
  border-bottom: 1px solid #333;
}

.issuetile .open {
  background: #B7CDE5;
}

.issuetile .inprogress {
  background: #bbefbe;
}

#closedissues .issuetile {
  opacity: 0.8;
}

.issuetile .number a:link, .issuetile .number a:visited {
  color: inherit;
}

.dialog-add-body {
  font-size: 0.9em;
  text-decoration: underline;
}

.ui-widget {
  font-size: 1.0em; /* override jQuery UI's stupid 1.1em */
}

.add_comment {
  font-size: 0.8em;
  margin-left: 10px;
  font-weight: bold;
}

.comment_detail {
  max-height: 300px;
}
