%html
  %head
    %title
      Hub board
    %script{:type => 'text/javascript'}
      window.github_access_token = "#{access_token}";
    %link{:media => 'screen',
          :type => 'text/css',
          :rel => 'stylesheet',
          :href => "/css/hub.css?cachebust=#{Time.now.to_i}"}
    %link{:media => 'screen',
          :type => 'text/css',
          :rel => 'stylesheet',
          :href => "/css/ui-smoothness/jquery-ui.css"}
  %body
    %div.actionbar
      - if Resin.development?
        %div{:style => 'float: right; margin-left: 15px'}
          %button{:onclick => 'smalltalk.Browser._open();'}
            Run Amber IDE
      %div#loggedin{:style => 'float: right'}
        %small
          %a{:href => '/logout'}<
            Log out
          %span#logout-username/
        %br
        %span{:style => 'float: right'}
          %a{:href => 'https://github.com/rtyler/Hubboard/issues',
            :style => 'font-size: 0.8em;',
            :target => '_blank'}
            Known Issues

      %span.logo
        %a{:href => '/about', :target => '_blank'}
          %img{:src => '/images/logo.png', :alt => 'Hub board', :title => 'Hub board'}

      %button{:onclick => 'smalltalk.HubboardApp._current()._refresh()'}
        Refresh
      %button{:onclick => 'smalltalk.NewIssueDialog._show();'}
        Create Issue
      %select.projectselect
      %img#spinner{:style => 'vertical-align: middle; margin-left: 20px; height: 28px;',
          :src => '/images/octocat-spinner-32.gif'}

    %div.column.opencolumn
      %div.header
        Open
      %div.issuecolumn#openissues
    %div.column.inprogresscolumn
      %div.header
        In Progress
      %div.issuecolumn#inprogressissues
    %div.column.closedcolumn
      %div.header
        Closed/Resolved
      %div.issuecolumn#closedissues

    - if Resin.development?
      = embed_amber(:on_ready => 'smalltalk.HubboardApp._current()._bootstrap();')
    - else
      %script{:type => 'text/javascript', :src => '/js/resin-app.deploy.js'}
      %script{:type => 'text/javascript'}
        smalltalk.HubboardApp._current()._bootstrap();
